html {
    font-size: 14px;
}
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 0;
}

nav.my-nav {
    background-color: #c0f0c0;
    padding: 20px;
}
nav.my-nav ul {
    list-style-type: none;
    font-size: 0;
    word-spacing: 0;
    padding: 0;
    margin: 0;
}
nav.my-nav ul li {
    display: inline-block;
    margin: 0;
    padding: 0;
}
nav.my-nav ul li a {
    font-family: "Trebuchet MS", sans-serif;
    font-size: 20px;
    line-height: 1.5;
    word-spacing: 2px;
    text-decoration: none;
    user-select: none;
    color: black;
    margin: 0;
    padding: 20px 35px;
    border-left: 2px solid white;
}
nav.my-nav ul li:last-of-type a {
    border-right: 2px solid white;
}
nav.my-nav ul li a:hover {
    color: #222222;
    background-color: lightgreen;
}

main.my-main {
    display: flex !important;
    flex-direction: column;
    flex: 1 1 auto;
}

footer.my-footer {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    padding: 15px 10px;
    background-color: #c0f0c0;
}