div.news,
div.user,
form {
    border: 1px solid gray;
    margin: 10px;
    padding: 10px;
    overflow: hidden;
}
div.news div.photo,
div.user div.photo {
    float: left;
    width: 150px;
    height: 150px;
    background-color: aqua;
    overflow: hidden;
}
div.news div.photo img,
div.user div.photo img {
    background-size: cover;
    width: 150px;
    height: 150px;
}
div.news div.content,
div.user div.content {
    margin-left: 150px;
    padding-left: 10px;
}
div.news div.content div.title,
div.user div.content div.title {
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom:10px;
}
div.news div.photo img {
    width: 100%;
}

div.user div.photo {
    background-color: cornsilk;
}

div.nav[role="tablist"] a.nav-link {
    text-align: center;
}
div.nav[role="tablist"] a.nav-link:not(.active) {
    color: #262626;
    background-color: #BBDEFB;
}
div.nav.nav-tabs[role="tablist"] a.nav-link.active {
    color: black;
    background-color: #E8EAF6;
}
div.nav.nav-pills[role="tablist"] a.nav-link.active {
    color: white;
    background-color: #3F51B5;
}
div.swiper,
div.swiper div.swiper-wrapper div.swiper-slide img {
    max-width: 100%;
}

table.table.flyweight tr,
table.table.flyweight td {
    border-collapse: collapse;
    border: 1px solid #E0E0E0 !important;
}
table.table.flyweight td {
    text-align: center;
}
table.table.flyweight td div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

textarea.textarea {
    font-family: "Trebuchet MS", sans-serif;
    font-size: 20px;
    line-height: 1.5;
    word-spacing: 2px;
    width: 100%;
    min-height: 400px;
    outline: none;
    overflow: paged-y;
    resize: vertical;
    padding: 5px 0 10px 5px;
    border: 3px solid #222222;
}
textarea.textarea:focus {
    border-color: #1976D2;
}